node_modules
.next
.git
.gitignore
.env
.env.*
.env.local
.DS_Store
coverage
jest-coverage
.idea
.vscode
.swc
.yarn
dump.rdb
playwright-report
test-results
blob-report
e2e
*.md
Dockerfile
docker-compose*.yml
